<a href="https://colab.research.google.com/github/sushilbal/IK/blob/main/Python_Practice_Set_Week_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```
2 Sum In A Sorted Array
Given an array sorted in non-decreasing order and a target number, find the indices of the two values from the array that sum up to the given target number.
{
"numbers": [1, 2, 3, 5, 10],
"target": 7
}

Notes
In case when no answer exists, return an array of size two with both values equal to -1, i.e., [-1, -1].
In case when multiple answers exist, you may return any of them.
The order of the indices returned does not matter.
A single index cannot be used twice.




```

In [1]:


def pair_sum_sorted_array(numbers, target):
    """
    Args:
     numbers(list_int32)
     target(int32)
    Returns:
     list_int32
    """
    start=0
    end=len(numbers)-1
    while start<end:
      if numbers[start]+numbers[end]==target:
          return [start,end]
      elif numbers[start]+numbers[end] < target:
          start+=1
      else:
          end-=1
    return [-1,-1]

In [2]:
pair_sum_sorted_array([1, 2, 3, 5, 10],7)

[1, 3]

In [3]:
pair_sum_sorted_array([-10, -7, -5, 0, 8, 10],3)

[1, 5]

In [4]:
pair_sum_sorted_array([-9, -7, -5, -3, -1],100)

[-1, -1]

Majority Element

Find the majority element in a given list. For a list of size n, the majority element is the element that appears more than floor(n/2) times.

{
"nums": [3, 3, 3, 2, 2, 2, 3]
}

3 occurs 4 times which is greater than ⌊7/2⌋ = 3 times.

Note:
The majority element will always exist in the input list.
floor(x) or ⌊x⌋ denotes the floor value of any real number x. Floor value of any real number x is the greatest integer less than or equal to x.

In [5]:

def majority_element(nums):
    """
    Args:
     nums(list_int32)
    Returns:
     int32
    """
    map={} # Default it is a Dict and not a Set
    for ele in nums:
      if ele in map:
        map[ele]+=1
      else:
        map[ele]=1
      if map[ele] > len(nums)//2:
        return ele

In [6]:
majority_element([3, 3, 3, 2, 2, 2, 3])

3

In [7]:
majority_element([-1, -1, -1])

-1

In [8]:
majority_element([0, 0, 1, 1, 0, 0])

0


Check If An Array Contains Duplicates

Check if any element occurs more than once in a given list of numbers. Return true if an array contains duplicates, else return false.

{
"nums": [10, 30, 10, 20]
}

In [9]:

def check_if_array_contains_duplicate(nums):
    """
    Args:
     nums(list_int32)
    Returns:
     bool
    """

    return len(set(nums)) != len(nums)

In [10]:
check_if_array_contains_duplicate([10, 30, 10, 20])

True

In [11]:
check_if_array_contains_duplicate([5, 10, 15, 20])

False

Intersection Of Two Sorted Arrays

Given two integer arrays sorted in non-decreasing order, find the intersection of both the arrays.

{
"numbers1": [1, 2, 2, 6, 7],
"numbers2": [2, 2, 7, 7]
}

[2, 7]

NOTES:
Intersection should be free of duplicates and sorted in ascending order.
If there is no element common in both the arrays, return [-1].

In [17]:

def get_intersection(numbers1, numbers2):
    """
    Args:
     numbers1(list_int32)
     numbers2(list_int32)
    Returns:
     list_int32
    """

    l=list(set(numbers1).intersection(numbers2))
    l.sort()
    return l if len(l)>0 else [-1]

In [18]:
get_intersection([1, 2, 2, 6, 7],[2, 2, 7, 7])

[2, 7]

In [19]:
get_intersection([5, 9, 11],[1, 4, 10, 12])

[-1]



Single Number

Given a list of numbers in which each number appears exactly twice except one number that appears only once. Find the number that appears exactly once.
(Try solving this in linear time complexity without using any extra space!)


{
"arr": [2, 1, 2, 5, 1]
}

5

In [23]:

def single_number(arr):
    """
    Args:
     arr(list_int32)
    Returns:
     int32
    """
    xor=0
    for n in arr:
      xor=xor^n

    return xor

def single_number_math_solution(arr):
    """
    Args:
     arr(list_int32)
    Returns:
     int32
    """
    ideal_total=sum(set(arr))*2


    return ideal_total-sum(arr)

In [24]:
single_number_math_solution( [2, 1, 2, 5, 1])

5

In [25]:
single_number_math_solution([1, 1, 3])

3

In [26]:
single_number([1, 1, 0, -1000000000, 0, 3, 3])

-1000000000

Squares Of A Sorted Array

Given an array of numbers sorted in increasing order, generate another array containing the square of all the elements in the given array, sorted in increasing order.

{
"numbers": [1, 2, 3, 4]
}

[1, 4, 9, 16]

In [28]:

def generate_sorted_array_of_squares(numbers):
    """
    Args:
     numbers(list_int32)
    Returns:
     list_int32
    """
    # Write your code here.
    return [x*x for x in numbers]

In [31]:
generate_sorted_array_of_squares([1, 2, 3, 4,10] )

[1, 4, 9, 16, 100]

Maximum Sum Subarray

Given a list of integers, find the sum of a non-empty subarray that has the largest sum.

{
"numbers": [2, -6, 3, 4, -5]
}

7

{
"numbers": [-7, -9, -3, -5]
}

-3

Notes
A subarray is an array composed of a contiguous block of the original array's elements.

In [33]:

def find_maximum_sum_subarray(numbers):
    """
    Args:
     numbers(list_int32)
    Returns:
     int32
    """
    max_sum=numbers[0]
    temp_sum=numbers[1]
    for i in range(1,len(numbers)):
      temp_sum=max(temp_sum+numbers[i],numbers[i])
      max_sum=max(max_sum,temp_sum)

    return max_sum

In [34]:
find_maximum_sum_subarray([2, -6, 3, 4, -5] )

7

In [39]:
find_maximum_sum_subarray([-7, -9, -3, -5])

-3

Find Winner Of Election

Given a list of votes, containing names of candidates in an election, find which candidate received maximum number of votes. If two or more candidate got the same number of votes, return the lexicographically smaller name.

{
"votes": ["sam", "john", "jamie", "sam"]
}

sam

{
"votes": ["sam", "john", "sam", "john"]
}

john

In [52]:

def find_winner(votes):
    """
    Args:
     votes(list_str)
    Returns:
     str
    """
    winners=dict()

    for vote in sorted(votes):
      if vote in winners:
        winners[vote]+=1
      else:
        winners[vote]=1

    return max(winners.keys(), key= (lambda x : winners[x]))

In [53]:
find_winner(["sam", "john", "sam", "john"])

'john'

In [54]:
find_winner(["sam1", "jamie", "sam1", "aon"])

'sam1'

In [55]:
find_winner(["sam", "john", "jamie", "sam"] )

'sam'